// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";
// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

body {
  //background-color: #f00;
}

/* min Jquery CSS elements for autocomplete */
.ui-autocomplete {
  position: absolute;
  cursor: default;
}

.ui-menu {
  list-style: none;
  padding: 2px;
  margin: 0;
  display: block;
  float: left;
  background-color: #f9f9f9;
  border: 1px solid #efefef;
  border-radius: 3px 3px 3px 3px;
}

.ui-helper-hidden-accessible {
  display: none;
}

.ui-menu .ui-menu {
  margin-top: -3px;
}

.ui-menu .ui-menu-item {
  margin: 0;
  padding: 0;
  zoom: 1;
  float: left;
  clear: left;
  width: 100%;
  font-family: arial;
}

.ui-menu .ui-menu-item a {
  text-decoration: none;
  display: block;
  padding: .1em .3em;
  line-height: 1.5;
  zoom: 1;
}

.ui-menu .ui-menu-item a.ui-state-hover, .ui-menu .ui-menu-item a.ui-state-active {
  font-weight: bold;
}